<div class="wrapper-footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">Copyright <%= link_to new_user_session_path, remote: true, class: 'admin-link' do %>&copy;<% end %> 2017 <%= link_to "N'Chips Creation", "http://www.nchips.fr", class: 'nchips-link' %></div>
    </div>
  </div>
</div>
