<header>
  <nav role="navigation" data-big="100" data-small="60">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#">
          <%= image_tag "logo.png", class: "logo-menu" %>
        </a>
        <div class="bt-menu">
          <i></i><i></i><i></i>
        </div>
      </div>

      <div class="navbar-list-menu">
        <ul>
          <li><a class="page-scroll" href="#title">ACCUEIL</a></li>
          <li><a class="page-scroll" href="#services">SERVICES</a></li>
          <li><a class="page-scroll" href="#prices">TARIFS</a></li>
          <li><a class="page-scroll" href="#photos">PHOTOS</a></li>
          <li><a class="page-scroll" href="#contact">CONTACT</a></li>
          <% if user_signed_in? %>
            <li><%= link_to 'SE DÉCONNECTER', destroy_user_session_path, method: :delete, class: 'btn-logout' %></li>
          <% end %>
          <li><a href="https://www.facebook.com/Na%C3%AFs-Maquillage-Permanent-1266004483495780/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="modal" class="modal fade" style="z-index: 100000;"></div>
</header>
