<section id="prices" class="prices-section">
  <div class="wrapper-prices">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6"></div>
        <div class="div-prices col-xs-12 col-sm-6">
          <h2>TARIFS</h2>
          <table>
            <tr>
              <td>Grain de beauté :</td>
              <td class="text-right">80€</td>
            </tr>
            <tr>
              <td>Eyeliner paupière supérieure :</td>
              <td class="text-right">245€&nbsp;<span style="font-size: 10px;">*</span></td>
            </tr>
            <tr>
              <td>Supérieure + inférieure :</td>
              <td class="text-right">285€&nbsp;<span style="font-size: 10px;">*</span></td>
            </tr>
            <tr>
              <td colspan=2 style="padding-top: 16px; font-weight: 400;">LÈVRES</td>
            </tr>
            <tr>
              <td>contour marqué ou fondu :</td>
              <td class="text-right">285€&nbsp;<span style="font-size: 10px;">*</span></td>
            </tr>
            <tr>
              <td>Avec remplissage :</td>
              <td class="text-right">325€&nbsp;<span style="font-size: 10px;">*</span></td>
            </tr>
            <tr>
              <td colspan=2 style="padding-top: 16px; font-weight: 400;">SOURCILS</td>
            </tr>
            <tr>
              <td>densification simple :</td>
              <td class="text-right">245€&nbsp;<span style="font-size: 10px;">*</span></td>
            </tr>
            <tr>
              <td>Densification et correction :</td>
              <td class="text-right">315€&nbsp;<span style="font-size: 10px;">*</span></td>
            </tr>
            <tr>
              <td>Reconstruction complète :</td>
              <td class="text-right">395€&nbsp;<span style="font-size: 10px;">*</span></td>
            </tr>
            <tr>
              <td colspan=2 style="padding-top: 16px; font-style: italic; font-size: 11px;">* les prix sont forfaitaires et tiennent compte d'une retouche le mois suivant.</td>
            </tr>
            <tr>
              <td style="padding-top: 16px;">Retouche supplémentaire avant 6 mois :</td>
              <td class="text-right" style="padding-top: 16px;">120€</td>
            </tr>
            <tr>
              <td>Retouche supplémentaire avant 18 mois :</td>
              <td class="text-right">150€</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-rdv">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>VOTRE MAQUILLAGE PERMANENT SUR MESURE</h2>
          <h3>Notre expérience au service de votre beauté</h3>
          <a class="page-scroll btn btn-rdv" href="#contact">PRENDRE RENDEZ-VOUS</a>
        </div>
      </div>
    </div>
  </div>
</section>
