<section id="services" class="services-section">
  <div class="wrapper-grey">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="services-title text-center">NOS PRESTATIONS</h2>
        </div>
      </div>
      <div class="row cards-services">
        <div id="services-lips" class="card-services text-center">
          <div class="card-services-img"></div>
          <div class="card-services-title">
            <%= image_tag "pictolevres.png", class: 'card-picto' %>
            <h3>Lèvres</h3>
            <p style="margin: 0; padding: 0;">
              Magnifiez votre sourire avec des lèvres fraîches et sexy
            </p>
          </div>
          <a href="#services-lips-text" class="card-services-infos">PLUS D'INFOS</a>
        </div>

        <div id="services-eyeliner" class="card-services text-center">
          <div class="card-services-img"></div>
          <div class="card-services-title">
            <%= image_tag "eyeliner.png", class: 'card-picto' %>
            <h3>Eyeliner</h3>
            <p style="margin: 0; padding: 0;">
              Sublimez votre regard en un coup de baguette magique !
            </p>
          </div>
          <a href="#services-eyeliner-text" class="card-services-infos">PLUS D'INFOS</a>
        </div>

        <div id="services-eyebrows" class="card-services text-center">
          <div class="card-services-img"></div>
          <div class="card-services-title">
            <%= image_tag "eyebrow.png", class: 'card-picto' %>
            <h3>Sourcils</h3>
            <p style="margin: 0; padding: 0;">
              Des sourcils chics et élégants pour un regard fatal…
            </p>
          </div>
          <a href="#services-eyebrows-text" class="card-services-infos">PLUS D'INFOS</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-push-6 services-div services-div-nais text-center">
        <%= image_tag "logoblanc.png", style: "margin: auto; width: 300px;" %>
      </div>
      <div class="col-xs-12 col-md-6 col-md-pull-6 services-div services-div-welcome">
        <div class="services-div-inside">
          <h2>Bienvenue</h2>
          <p>Naïs vous accueille dans un environnement calme et moderne. Réunissant toutes ses compétences et ses qualifications pour votre beauté, cette professionnelle de la dermo-pigmentation exerce depuis déjà plusieurs années.
          Que vous choisissiez cette technique pour des raisons esthétiques ou dans le but de corriger une asymétrie, une cicatrice… Le maquillage permanent n’est pas à prendre à la légère, c’est pourquoi il est vital de le confier à une professionnelle formée en techniques dermographiques et hygiène.
          Conseil, patience et minutie seront les alliés d’un maquillage permanent réussi et surtout, qui vous correspond. A l’écoute de vos attentes pour un résultat qui vous ressemble.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 services-div services-div-eyeliner"></div>
      <div id="services-eyeliner-text" class="col-xs-12 col-md-6 services-div">
        <div class="services-div-inside">
          <h2>Eyeliner</h2>
          <p>
            <strong>Pour les sportives, les femmes pressées, pour toutes celles qui ne maîtrisent pas l’application de l’eyeliner, à cause d’allergies ou intolérances à certains cosmétiques… Pour vous c’est la solution pratique qui répond à votre envie de paraître en pleine forme en toute circonstance.</strong>
            <br><br>
            Déroulement du soin : après préparation de la peau (démaquillage, désinfection), la spécialiste dessine au crayon la ligne d’eyeliner au raz des cils et selon vos préférences. Une fois ce dessin finalisé, vient le moment de la pigmentation. L’aiguille injecte les pigments nécessaires jusqu’au résultat final. Si vous souhaitez intensifier davantage l’expression de votre regard, il est également possible d’effectuer une ligne fine le long des cils inférieurs.  C’est l’intervention la plus rapide pour un effet beauté immédiat !
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-push-6 services-div services-div-eyebrows"></div>
      <div id="services-eyebrows-text" class="col-xs-12 col-md-6 col-md-pull-6 services-div services-div-eyebrows-text">
        <div class="services-div-inside">
          <h2>Sourcils</h2>
          <p>
            <strong>Nous n’avons malheureusement pas toutes la chance de posséder des sourcils fournis, ni la possibilité de leur donner la forme la mieux appropriée. Grâce au maquillage permanent, vous pouvez enfin décider, le style, la couleur et l’épaisseur dont vous avez rêvé.</strong>
            <br><br>
            Déroulement du soin : après préparation de la peau, la spécialiste choisit avec vous la couleur par échantillons directement appliqués sur votre peau. Ensuite, nous décidons ensemble de la forme et de l’épaisseur qui s’accordent à vos traits, en dessinant vos sourcils au crayon et en gardant le maximum de poils existants. Une fois que nous avons prévisualisé le résultat final, nous commençons la pigmentation.
            <br><br>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-services-modal" data-toggle="modal" data-target="#modalEyebrows">
              Voir les différentes techniques
            </button>
          </p>
          <!-- Modal -->
          <div class="modal fade" id="modalEyebrows" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 100px;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 20px; right: 25px;">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span class="fancy-title">Plusieurs techniques sont possibles selon le résultat souhaité :</span><br><br>
                - La densification simple: vous avez des sourcils fournis, vous aimeriez simplement intensifier leur ligne et leur couleur. Il suffit d’un passage afin de leur donner un fond plus net.<br><br>
                - La densification avec correction : vous avez des sourcils fournis, mais vous remarquez des endroits dénués de poils (des « trous »). Nous utilisons la technique du « Hairstroke » c’est-à-dire du poil à poil afin de leur redonner une unité.<br><br>
                - La pigmentation corrective : Il ne vous reste que très peu de poils voir plus aucun à vos sourcils (chimio, cicatrice…) ou la symétrie de votre visage n’est plus respectée. Nous prenons le temps nécessaire ensemble afin de retravailler la correction à apporter.<br><br>
                La pigmentation se fait en deux étapes : le fond qui donnera leur forme définitive à vos sourcils et la technique du « Hairstroke » qui leur donnera du volume et l’illusion de sourcils fournis. Ces deux étapes se décalent d’un mois (temps de cicatrisation).
                <button type="button" class="btn btn-services-modal" data-dismiss="modal" style="position: absolute; bottom: 22px; right: 25px;">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 services-div services-div-lips"></div>
      <div id="services-lips-text" class="col-xs-12 col-md-6 services-div">
        <div class="services-div-inside">
          <h2>Contour des lèvres</h2>
          <p>
            <strong>Avec le temps, nos lèvres s’affinent et se décolorent. Le maquillage permanent est une très bonne alternative à ces effets du temps. Demandant moins d’entretien que d’autres techniques invasives et instables dans la durée, vous pouvez choisir votre pigmentation à la carte. Nous possédons une palette de couleur variée pour un effet « nude » ou « femme fatale ».</strong>
            <br><br>
            Déroulement du soin : Comme pour chaque pigmentation, après préparation de la peau, nous commençons par dessiner au crayon ce qui sera votre futur maquillage permanent. Une fois que ce dessin vous correspond, nous choisissons la couleur : clair pour un effet légèrement maquillé, plus foncé pour un effet plus voyant, en fonction de vos habitudes.
            <br><br>
             <button type="button" class="btn btn-services-modal" data-toggle="modal" data-target="#modalLips">
              Voir les différentes techniques
            </button>
          </p>
          <div class="modal fade" id="modalLips" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 100px;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 20px; right: 25px;">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span class="fancy-title">Plusieurs techniques sont possibles selon le résultat souhaité :</span><br><br>
                - Le contour marqué : vous souhaitez démarquer votre bouche de votre visage pour un effet ultra sexy.<br><br>
                - Le contour fondu : technique la plus appropriée pour redonner volume et lumière à vos lèvres. Une bouche discrètement sexy. Deux couleurs peuvent se fondre afin de donner de l’éclat à vos lèvres.<br><br>
                - Le remplissage : spécialement pour les femmes ayant l’habitude de porter du rouge à lèvres,  pour un effet glamour en toute circonstance.
                <button type="button" class="btn btn-services-modal" data-dismiss="modal" style="position: absolute; bottom: 22px; right: 25px;">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
