<section id="title" class="title-section">
  <div class="wrapper-title">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= image_tag "logotitle.png", class: 'logo-title' %>
          <h1>MAQUILLAGE PERMANENT</h1>
          <h2>Salon d'esthétique à Concarneau</h2>
          <a class="page-scroll btn btn-title" href="#services">DÉCOUVRIR NOS OFFRES</a>
        </div>
      </div>
    </div>
  </div>
</section>
